.page{
    width: 100%;
    display: flex;
    margin-top: 8%;
}

.left{
    width: 50%;
    padding: 10%;
}

.left{
    width: 50%;
    padding: 10%;
}

img{
    width: 70%;
    padding: 5%;
    margin-left: 10%;
}

.button{
    width: 100px;
    border-radius: 2px;
    margin-left: 30%;
}